
body {
  background-color: #222;
}

h1 {
  color: crimson;
}

h2 {
  color: lightsalmon;
}

.generic { 
  color: blanchedalmond;
  margin-top: 3rem;
  font-size: 2rem;
}

.generic *{
  color: springgreen;
}


.cadre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 0.2rem solid #333;
  width: 80rem;
  gap: 2rem;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 0.2rem solid yellow;
  height: 10%;
  width: 95%;
  padding: 1rem;

}

.navbaritem {
  border: 0.2rem solid blue;
  width: 15rem;
  height: 3rem;
}



.niveau1 {
  display: flex;
  justify-content: space-between;
  border: 0.2rem solid red;
  padding: 1rem;
  width: 95%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.2rem solid green;
  padding: 0.5rem;
  width: 15%;
}

.sidebaritem {
  border: 0.2rem solid lightgrey;
  width: 90%;
  height: 3rem;
}

.niveau2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 0.5rem solid blue;
  padding: 0.5rem;
  width: 80%;
}

.niveau3 {
  border: 0.2rem solid lightgrey;
  width: 15rem;
  height: 10rem;
  margin: 1rem;
}